<div class="privacy_panel">
	
	<article>
		<h2>
			Language Cookie
		</h2>
		
		<p>
			<strong>My Grim Dawn Gear</strong> check your native language with HTTP headers to offers you a service the most relevant as possible. The application save your language configuration in <strong>SYSLang_LANG</strong> cookie. You can change manually the language which update that cookie. The lifetime of this cookie is set to one year.
		</p>
	</article>
	
	
	<article>
		<h2>
			Session Cookie
		</h2>
		
		<p>
			<strong>My Grim Dawn Gear</strong> offers you to protected builds with password to update them later. To make change on you build, you have to sign first with the password previously defined. To recognize you, you session is store on the server, but it require the cookie <strong>PHPSESSID</strong>. The lifetime is set to the session. That mean when you close your browser, the cookie is destroy.
		</p>
	</article>
	
	
	<article>
		<h2>
			Google Analitics
		</h2>
		
		<p>
			To know more about the use of the Application <strong>My Grim Dawn Gear</strong>, i decide to include API <strong>Google Analytics</strong>. The API create two cookies <strong>_ga</strong> and <strong>_gat</strong>.
All Google Analytics features are disabled as default.
		</p>
		
		<p>
			The aim is to know how many people are using the application and how often. <strong>My Grim Dawn Gear</strong> contains many data which requires hardware performance and Internet Traffic. I will probably adjust the host depending of these informations.
		</p>
	</article>
	
	
	<article>
		<h2>
			How to check cookies
		</h2>
		
		<h3>
			Chrome Browser :
		</h3>
		
		<ul>
			<li>Push on key F12</li>
			<li>Go to tab Application</li>
			<li>In left panel, in section 'Storage', you will find 'Cookies'</li>
		</ul>
		
		<img src="/Images/Library/Chrome-Cookies.png" />
		
		<br /><br />
		
		<h3>
			Firefox Browser :
		</h3>
		
		<ul>
			<li>Push on key F12</li>
			<li>Go to 'tool settings' represent by a gear.</li>
			<li>Check the option 'storage'</li>
		</ul>
		
		<img src="/Images/Library/Firefox-Cookies.png" />
		
		
	</article>
	
</div>