<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!--<link rel="stylesheet" href="CSS/Common/reset_screen.css" type="text/css">-->
		<!--<link rel="stylesheet" href="CSS/Common/font-faces_screen.css" type="text/css">-->
		<!--<link rel="stylesheet" href="CSS/Version/version_screen.css" type="text/css">-->
		<link rel="stylesheet/less" href="/LESS/Progress/progress.global_screen.less" media="screen">
		<script type="text/javascript" src="/Scripts/Common/less.min.js"></script>
		<title>%PROGRESS% - %HEAD_MAIN_TITLE%</title>
	</head>
	<body>
		
		<!-- BEGIN_BLOCK VERSION_SECTION -->
		<h1>
			Version <span>%VERSION_NAME%</span> :
		</h1>
		
		<table>
			<!-- BEGIN_BLOCK UPDATE_SECTION -->
			<tr>
				<th>%UPDATE_PROGRESS_VALUE%%</th>
				<th>Statut :: <span>%UPDATE_STATUT%</span></th>
				<th>%UPDATE_LASTUPDATE%</th>
				<th>%UPDATE_NAME%</th>
			</tr>
			<!-- END_BLOCK UPDATE_SECTION -->
		</table>
		<!-- END_BLOCK VERSION_SECTION -->
		
	</body>
</html>