<footer>
	<p>
		Created by Neoblaster. This site is not affiliated with <a href="http://www.crateentertainment.com/" target="crate">Crate</a> neither <a href="https://grimcalc.com/" target="grimcal">Grimcalc</a> neither <a href="http://gracefuldusk.appspot.com/" target="gracefuldusk">Graceful Dusk</a>
	</p>
	<ul>
		<!--<li>%FOOT_COPYRIGHT%</li>-->
		<!--<li>%FOOT_PROGRESS%</li>-->
		<!--<li>%FOOT_CONTACT%</li>-->
		<li>%FOOT_VERSION% %VERSION%</li>
		<li><a href="/login">%FOOT_LOGIN%</a></li>
		<li><a href="/privacy">%FOOT_ABOUT_COOKIES%</a></li>
	</ul>
</footer>